body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}
h1 {
  font-size: 50px;
}
h2 {
  font-size: 40px;
}
.name-color {
  color: orange;
}
.flexebale-ariea {
  display: flex;
  margin-bottom: 100px;
}
.first-container {
  width: 50%;
  padding-left: 5%;
}
.hire-me-btn {
  text-decoration: none;
  background-image: linear-gradient(orange, rgb(159, 223, 9));
  padding: 10px 20px;
  border-radius: 5px;
  color: white;
  font-weight: 700;
}
.secound-container {
  width: 50%;
}
.secound-container img {
  width: 80%;
  margin-top: 20px;
}
.top-banner {
  background-image: url(../assate/top-banner.png);
  background-repeat: no-repeat;
}
.body-section {
  background-image: url(../assate/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right;
}
.drime-pragraph {
  width: 500px;
}
.drime-big-img {
  margin-left: 40px;
}
.expression {
  background-image: url(../assate/exp-bg.png);
  background-repeat: no-repeat;
  background-position: left;
}
.exprence-item {
  box-shadow: 10px 10px 40px gray;
  width: 40%;
  margin-left: 5%;
  margin-right: 5%;
  padding: 20px;
  border-radius: 10px;
}
#full-stak-item {
  border-left: 10px solid;
  border-image: linear-gradient(purple, tomato);
  border-image-slice: 1;
}
#baby-dev-exprence {
  border-left: 10px solid;
  border-image: linear-gradient(blue, cyan);
  border-image-slice: 1;
}
footer p {
  text-align: center;
}
